<!-- plantilla base html que contiene todos los demas parciales. -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mi App{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
        {% if vista and estilos_por_vista and estilos_por_vista.get(vista) %}
        .{{ vista }}-vista {
            {% for param, valor in estilos_por_vista[vista].items() if valor %}
            --{{ param }}: {{ valor }};
            {% endfor %}
        }
        {% endif %}
        </style>
    </head>
    <body class="{{ vista }}-vista">
        {% if session.get('perfil') %}
        <nav class="navbar navbar-light bg-light justify-content-between">
            <span class="navbar-text ms-3">
                Perfil:
                <strong>{{ session['perfil'] }}</strong>
            </span>
            <a href="{{ url_for('logout') }}" class=" btn-outline-danger me-3">Cerrar sesión</a>
        </nav>
        {% endif %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
