<h4>Estilos por Vista</h4>
<form method="post">
    <div class="row">
        <div class="col-md-6">
            {% include "valores_actuales.html" with context %}
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="vista_local" class="form-label">Selecciona la vista</label>
                <select class="form-select" id="vista_local" name="vista_local" onchange="this.form.submit()">
                    {% for vista in vistas %}
                        <option value="{{ vista }}" {% if vista == vista_seleccionada %}selected{% endif %}>{{ vista }}</option>
                    {% endfor %}
                </select>
            </div>
            {% set prefix = 'local_' %}
            {% set boton_name = 'aplicar_estilo_local' %}
            {% include "parametros_modificar.html" with context %}
        </div>
    </div>
</form>