<div class="container">
    <!-- Nav tabs para subpestañas -->
    <ul class="nav nav-tabs mb-3" id="estiloSubTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if subpestana == 'global' %}active{% endif %}" href="?pestana=estilos&subpestana=global&vista={{ vista }}">Global</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if subpestana == 'local' %}active{% endif %}" href="?pestana=estilos&subpestana=local&vista={{ vista }}">Local</a>
        </li>
    </ul>
    <div>
        {% if subpestana == 'global' %}
            {% include "configuracion_estilo_global.html" %}
        {% elif subpestana == 'local' %}
            {% include "configuracion_estilo_local.html" %}
        {% endif %}
    </div>
</div>