{% extends "base.html" %}
{% block content %}
<div class="main-bg menu-vista">
    <!-- sidebar izquierda -->
    <div class="sidebar">
        <div class="btns">
            <!-- Búsqueda: siempre activo -->
            <a href="{{ url_for('busqueda_bp.busqueda') }}" class="btn">Búsqueda</a>
            <!-- Movimientos: siempre activo -->
            <a href="{{ url_for('movimientos_bp.movimientos') }}" class="btn">Movimientos</a>
            <!-- Pedidos -->
            {% if session.get('rol') == 'admin' or session.get('rol') == 'pedidos' %}
            <a href="{{ url_for('pedidos_bp.pedidos') }}" class="btn">Pedidos</a>
            {% else %}
            <a
                class="btn disabled-btn"
                tabindex="-1"
                aria-disabled="true"
                onclick="return false;"
            >Pedidos</a>
            {% endif %}
            <!-- Inventario -->
            {% if session.get('rol') == 'admin' %}
            <a href="{{ url_for('inventario_bp.inventario') }}" class="btn">Inventario</a>
            {% elif session.get('rol') == 'pedidos' %}
            <a
                class="btn disabled-btn"
                tabindex="-1"
                aria-disabled="true"
                onclick="return false;"
            >Inventario</a>
            {% else %}
            <a
                class="btn disabled-btn"
                tabindex="-1"
                aria-disabled="true"
                onclick="return false;"
            >Inventario</a>
            {% endif %}
            {% if session.get('rol')== 'admin' %}
            <a href="{{ url_for('proveedores_bp.proveedores') }}" class="btn">Proveedores</a>
            {% else %}
            <a
                class="btn disabled-btn"
                tabindex="-1"
                aria-disabled="true"
                onclick="return false;"
            >Proveedores</a>
            {% endif %}
        </div>
    </div>
    <!-- contenido central -->
     <!--valor del titulo principal y valor por defecto si falta-->
     {% set texto_principal = config.textos_menu.titulo_principal if config and config.textos_menu and 'titulo_principal' in config.textos_menu else 'Almacén de Repuestos' %}
     <!--valor del titulo secundario y valor por defecto si falta-->
     {% set texto_secundario = config.textos_menu.titulo_secundario if config and config.textos_menu and 'titulo_secundario' in config.textos_menu else 'Montijo' %}
    <!--valor del texto central y valor por defecto si falta-->
     {% set texto_central = config.textos_menu.central if config and config.textos_menu and 'central' in config.textos_menu else 'Gestión de Almacén' %}
    <div class="main-content">
        <h1 class="titulo-principal">{{ texto_principal }}</h1>
        <h2 class="titulo-central">{{ texto_central }}</h2>
        <h2 class="titulo-secundario">{{ texto_secundario }}</h2>
    </div>
    <!-- sidebar derecha -->
    <div class="sidebar">
        <div class="btns">
            {% if session.get('rol')== 'admin'%}
            <a href="{{url_for('operadores_bp.ver_operadores')}}" class="btn">Operadores</a>
            {% else %}
            <a
                class="btn disabled-btn"
                tabindex="-1"
                aria-disabled="true"
                onclick="return false;"
            >Operadores</a>
            {% endif %}
            {% if session.get('rol')== 'admin' %}
            <a href="{{url_for('perfiles_bp.mostrar_perfiles')}}" class="btn">Perfiles</a>
            {% else %}
            <a
                class="btn disabled-btn"
                tabindex="-1"
                aria-disabled="true"
                onclick="return false;"
            >Perfiles</a>
            {% endif %}
            {% if session.get('rol')== 'admin' %}
            <a href="{{url_for('situacion_bp.situacion')}}" class="btn">Situación</a>
            {% else %}
            <a
            class="btn disabled-btn"
            tabindex="-1"
            aria-disabled="true"
            onclick="return false;"
            >Situación</a>
            
            {% endif %}
            
            <a class="btn" href="{{ url_for('mapa_bp.mapa_interactivo') }}">Mapa Interactivo</a>
            <a href="{{ url_for('configuracion_bp.configuracion') }}" class="btn">
                Configuración
            </a>

        </div>
    </div>
</div>
{% endblock %}
