{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <a href="{{ url_for('home_bp.menu') }}" class="btn btn-secondary mb-3">← Volver al menú principal</a>
    <h2>Nuevo Pedido</h2>
    {% if mensaje_error %}
    <div class="alert alert-danger">{{ mensaje_error }}</div>
    {% endif %}
    {% include "pedidos/formulario_pedido.html" %}
    <div class="row">
        <div class="col-md-5">
            {% include "pedidos/tabla_pedidos_globales.html" %}
        </div>
        <div class="col-md-7">
            {% include "pedidos/tabla_lineas_pedido.html" %}
        </div>
    </div>
</div>
{% endblock %}