{% extends "base.html" %}

{% block title %}Repuestos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">REPUESTOS</h2>
    <table class="table table-bordered table-dark table-striped">
        <thead>
            <tr>
                {% for col in columnas %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for repuesto in repuestos %}
            <tr>
                {% for col in columnas %}
                <td>{{ repuesto[col] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button class="btn btn-primary mb-3">
    <a href="{{ url_for('home_bp.menu') }}" class="text-white">Volver al Menú</a>
{% endblock %}
