<!-- Tabla -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de perfil</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Autorización</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in perfiles %}
        <tr>
            <td>{{user.idperfil}}</td>
            <td>{{user.codigo_operador}}</td>
            <td>{{user.password}}</td>
            <td>{{user.autorizacion}}</td>
            <td>
                
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#btn-Editar{{user.idperfil}}">
                    Editar
                </button>
                <form action="{{ url_for('perfiles_bp.delete', id=user.idperfil) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>     
            </td>
            <!-- Modal de edicion -->
            
            {% endfor %}
        </tr>
    </tbody>
</table>
        </div>
    </div>
</div>
<button